@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer components {
  .active-btn {
    @apply px-6 py-2 border border-none shadow-xl/20 bg-blue-500  text-white rounded-xl cursor-pointer hover:bg-blue-600 transition duration-300 ease-in-out;
  }

  .non-active-btn {
    @apply px-6 py-2 border border-none shadow-xl/20 bg-neutral-400 text-white rounded-xl cursor-not-allowed;
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
